html, body {
    font-size: 15px;
}

body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:"Droid Arabic Kufi", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif */;
    background: #FCFCFC url(../images/bg.jpg) repeat;
    margin: 0px;
    padding: 0px;
    color: #555555;
    min-width: 320px;
}

.container {
    width: auto;
    padding: 0% 13%;
}

.ui.menu.mainnav {
    margin-bottom: 0;
}

.ui.header.promo {
    text-align: center;
    padding: 50px 0px;
    border-bottom: none;
    margin-top: 0;
    margin-bottom: 40px;
}

.ui.header.promo h1 {
    font-size: 5em;
    color: #FFFFFF;
    line-height: 1.2;
    margin: -20px 0px 0px;
    padding-bottom: 0px;
}